html, body {
    overflow-x: hidden;
  }
  body {
    position: relative
  }

.main-container{
    height: auto;
    width: 100%;
    display: inline-block;
    position: relative;
    
}

.service-container{
    background-image: url("https://res.cloudinary.com/dg4htpr73/image/upload/v1696102798/mario-caruso-0C9VmZUqcT8-unsplash_iq4ooj.jpg");
    height: 100vh;
    margin: 0;
    background-size: cover;
}

.card{
        width: inherit;
        height: inherit;
        border-radius: 30px;
        background: #ffffff;
      }

.left-container{
    /* background-image: url("https://res.cloudinary.com/dg4htpr73/image/upload/v1696171041/Picture1_y82vwd.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px 0 0 30px;    
    /* height: 100%; */
}

.img{
    width: 100%;
  height: auto;
  margin: auto;
}