html, body {
    overflow-x: hidden;
  }
  body {
    position: relative
  }

.main-container {
    font-family: "serif";
}

.upper-container {
    background-image: url('https://res.cloudinary.com/dg4htpr73/image/upload/v1696102798/mario-caruso-0C9VmZUqcT8-unsplash_iq4ooj.jpg');
    height: 100vh;
    /* width: 100vw; */
    margin: 0;
    color: #ffff;
}

.main-heading{
    font-size: 4em;
}
.lower-container{
    color: #0e84cc;
}

.parent{
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.child{
    height: 100%;
    width: 100%;
    background-size: cover;
    transition: all 2.5s;
}

.parent:hover .child{
    transform: scale(1.2);
}
