html, body {
    overflow-x: hidden;
  }
  body {
    position: relative
  }

.about-container{
    background-image: url("https://res.cloudinary.com/dg4htpr73/image/upload/v1696190112/16183196_NEUMORPHIC_CIRCLES_BACKGROUND_iuns5d.jpg");
    height: 100vh;
    margin: 0px;
    background-size: cover;
}