html, body {
    overflow-x: hidden;
  }
  body {
    position: relative
  }

.about-container{
    background-image: url("https://res.cloudinary.com/dg4htpr73/image/upload/v1696021818/wallpaperflare.com_wallpaper_9_1_myarfa.jpg");
    height: 100vh;
    margin: 0px;
    background-size: cover;
}