html, body {
    overflow-x: hidden;
  }
  body {
    position: relative
  }

.project-container{
    background-image: url("https://res.cloudinary.com/dg4htpr73/image/upload/v1696189618/projects-image_ckxjxs.jpg");
    height: 100vh;
    margin: 0;
    background-size: cover;
}
.chrono-container {
  width: 100%;
}